.intro{ 
    text-align: center;
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

.sous-titre{
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 57px;
}

.paragraphes {
  font-family: "Poppins", sans-serif;
  font-weight: 150;
  font-style: normal;
  font-size: 25px;
}