table{
    border: 1px solid black;
}
td{
    border: 1px solid black;
    width: 190px;
}
img {
    width: 100%;
    height: 100px;
    object-fit: cover;

    
}
.carre{ 
    position: relative;
    width:100px ;
    margin-left: auto;
    margin-right: auto;

}
.grandcarre{
    position:relative;
    
}

