img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.container {
    /*border: 2px solid black;*/
    width: 100%;
    max-width: 1134px;
    aspect-ratio: 1134 / 1344;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 21px;
}

.carres {
    /*border: 2px solid blue;*/
    background-color: orange;
    
}

.grand {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
}

.petit-1 {
    width: 95%;
    aspect-ratio: 1/1;
    background-color: red;
    margin-top: 5%;
    border-radius: 30px;
    background-image: url('Portfolio Images/photo.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.texte {
    width: 95%;
    margin-top: 10%;
}

.texte .titre {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(16px, 5vw, 45px);
    margin: 0;
    padding: 0;
}

.texte .description {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size : clamp(10px, 2.5vw, 20px);
    
    display: -webkit-box;        /* necessary for line clamping */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;       /* number of lines to show */
    line-clamp: 5;
    overflow: hidden;             /* hide extra content */
    text-overflow: ellipsis;      /* optional: show "..." */
}

.grand-1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3 ;
}

.grand-2 {
    grid-row: 1 / 3;
    grid-column: 5 / 7;
}

.grand-3 {
    grid-row: 3 / 5;
    grid-column: 3 / 5;
}

.l12 {
    grid-row : 1 / 2
}

.l23 {
    grid-row : 2 / 3
}

.l34 {
    grid-row: 3 / 4;
}

.l45 {
    grid-row: 4 / 5;
}

.c12 {
    grid-column: 1 / 2;
}

.c23 {
    grid-column: 2 / 3;
}

.c34 {
    grid-column: 3 / 4;
}

.c45 {
    grid-column: 4 / 5;
}

.c56 {
    grid-column: 5 / 6;
}

.c67 {
    grid-column: 6 / 7;
}

.c78 {
    grid-column: 7 / 8;
}
