.acceuil {
    color: white;
}

.container {
    border: 0px solid palevioletred;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 50px;

}

.carres {
    aspect-ratio: 9/16;
    border: 2px solid red;
    background-image: url(Accueil/hehe.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.petit-message{
    border: 2px solid rgb(203, 252, 40);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.gauche, .droite {
    border: 2px solid rgb(40, 178, 252);
    flex: 1 1 400px; /* flex-grow:1, flex-shrink:1, flex-basis:400px */
    display: flex;
    justify-content: center;
}

.droite {
    flex-direction: column;
    background-color: #FFDCDC;
    border-radius: 50px;
    align-items: center;
}

.gauche h1 {
    border: 2px solid rgb(206, 40, 252);
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(40px, 8vw, 100px); /* shrinks on small screens */
    padding: 20px; /* reduce padding on small screens */
    text-align: center;
}

.droite p {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(16px, 2vw, 30px);
    padding: 10px;
}

.fleche {
    width: 100px;
    background-color: black;
    border-radius: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fleche a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
