.bouton{ 
    text-align: center;
    margin-top: 20px;
    width: 100%;

}

main {
    margin: 0 auto;                   /* centre horizontalement */
    max-width: 600px;                 /* Maintient l'affichage étroit sur les grands écrans */
    width: 90%;                       /* rend l'affichage réactif sur les petits écrans */
    background-color: #FFC8C8;
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


form{
    background-color:rgb(235, 229, 230);
    padding: 30px;
    border-radius: 15px;
    margin: auto;
}

form h1{ 
    font-size: 20px;
}

form .separation{
    width: 100%;
    height: 1px;
    background-color: rgb(200, 187, 212);
}

form .formulaire{
    display: flex; 
    flex-wrap: wrap;
    margin-bottom: 30px;
}

form .formulaire .boite{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form .formulaire .gauche .boite input{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid black;
    outline-color: blueviolet;
    border-radius: 10px;
}

form .formulaire .gauche .boite i{
    position: absolute; 
    left: 0px;
    top:25px;
    padding: 9px 8px;
    color :#d89595
}

form .formulaire .droite {
    margin-left: 40px;
    width: 250px;
}

form .formulaire .droite .boite{
    height: 100%;
}

form .formulaire .droite .boite textarea{
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    outline:none;
    resize: none; 
    height: 190px;

}

form .bouton button{
    margin-top: 10px;
    background-color: #FFC8C8;
    font-size: 10px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.5s;

}

form .bouton button:hover{
    transform: scale(1.1);

}

@media screen and (max-width:600px) {
    form .formulaire .droite{
        margin-left : 0px;
        width: 100%;
    }
}

.contact-title {
    text-align: center;
    font-family: "Italiana", serif;
    font-size: 70px;
    margin-bottom: 40px;
}